
<h1>Student</h1>

<div>
	<table>
		<tr>
			<td>Search by name:</td>
			<td><input ng-model="vm.key" placeholder="Name"/></td>
			<td><button ng-click="vm.search()">Search</button></td>
		</tr>
	</table>
</div>
<table border="1" cellpadding="5" cellspacing="5">
	<thead>
		<tr>
			<td>#</td>
			<td>Name</td>
			<td>Address</td>
			<td>Class</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="student in vm.studentList track by $index">
			<td>{{$index + 1}}</td>
			<td>{{student.name}}</td>
			<td>{{student.address}}</td>
			<td>{{student.classes.name}}</td>
			<td><button ui-sref="student-update({id: student.id})">Update</button></td>
			<td><button ng-click="vm.deleteStudent(student.id)">Delete</button></td>
		</tr>
	</tbody>
</table>
